
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

.idea/
/.idea

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
/public/images/image-back.jpg

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
/public/images/favicon/android-icon-192x192.png
/public/images/favicon/apple-icon-57x57.png
/public/images/favicon/apple-icon-60x60.png
/public/images/favicon/apple-icon-72x72.png
/public/images/favicon/apple-icon-76x76.png
/public/images/favicon/apple-icon-114x114.png
/public/images/favicon/apple-icon-120x120.png
/public/images/favicon/apple-icon-144x144.png
/public/images/favicon/apple-icon-152x152.png
/public/images/favicon/apple-icon-180x180.png
/public/images/favicon/browserconfig.xml
/public/images/favicon/favicon.ico
/public/images/favicon/favicon-16x16.png
/public/images/favicon/favicon-32x32.png
/public/images/favicon/favicon-96x96.png
/public/images/favicon/favicon-256x256.png
/public/images/favicon/instructions.txt
/public/images/favicon/manifest.json
/public/images/favicon/ms-icon-70x70.png
/public/images/favicon/ms-icon-144x144.png
/public/images/favicon/ms-icon-150x150.png
/public/images/favicon/ms-icon-310x310.png
