
{#<form method="post" action="{{ path('app_cliente_delete', {'id': cliente.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">#}
{#    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cliente.id) }}">#}
{#    <button class="btn">Delete</button>#}
{#</form>#}
