{% extends 'admin/bars.html.twig' %}

{% block title %}Cliente nuevo{% endblock %}

{% block contenpage %}
    <h1>Crear nuevo Cliente</h1>

    {{ include('cliente/_form.html.twig') }}

    <a href="{{ path('app_cliente_index') }}">Listado</a>
{% endblock %}
