{% extends "admin/bars.html.twig" %}

{% block contenpage %}
    <section class="text-center">
    <h1>{{ project_name }}</h1>
    <div class="row">
        {% if(app.user) %}
            {% if app.user.lastLogin %}
                <p class="lead">Tu última visita fue
                    el {{ user.lastLogin |format_datetime('full', 'short') }}.</p>
            {% else %}
                <p class="lead">¡Es la primera vez que nos visitas!</p>
            {% endif %}
        {% endif %}
    </div>
    </section>
{% endblock %}
