<form method="post" action="{{ path('app_item_budget_delete', {'id': item_budget.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ item_budget.id) }}">
    <button class="btn">Borrar</button>
</form>
