{% extends 'base.html.twig' %}

{% block title %}Item presupuesto editar{% endblock %}

{% block body %}
    <h1>Item presupuesto editar</h1>

    {{ include('item_budget/_form.html.twig', {'button_label': 'Actualizar'}) }}

    <a href="{{ path('app_item_budget_index') }}">Listado</a>

    {{ include('item_budget/_delete_form.html.twig') }}
{% endblock %}
